.home {
  background-image: url("https://as2.ftcdn.net/v2/jpg/04/17/79/75/1000_F_417797543_88dGy9M34clNb3GffHjXKQOIqYKSnArm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
